<button class="c-header-toggler c-class-toggler d-lg-none mfe-auto" type="button" data-target="#sidebar" data-class="c-sidebar-show">
<svg class="c-icon c-icon-lg">
<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-menu"></use>
</svg>
</button>



<button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true">
<i class="cil-hamburger-menu"></i>
</button>

<button class="c-header-toggler c-class-toggler mfs-3 d-lg-none" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  <i class="cil-hamburger-menu"></i>
</button>

            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>

<a class="c-header-brand d-lg-none c-header-brand-up-center" href="/home">
  CRM SOFTWARE
</a>

<ul class="c-header-nav d-md-down-none ml-auto">
  <li class="c-header-nav-item dropdown">
    <a class="c-header-nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
      NEW
    </a>
    <div class="dropdown-menu dropdown-menu-right pt-0" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/entry-client">Client</a>
          <a class="dropdown-item" href="/entry-contact">Contact</a>
          <a class="dropdown-item" href="/entry-event">Event</a>
          <a class="dropdown-item" href="/entry-agent">Agent</a>
    </div>
  </li>
  <li class="c-header-nav-item dropdown">
    <a class="c-header-nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
      IMPORT
    </a>
    <div class="dropdown-menu dropdown-menu-right pt-0" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/import-client">Client</a>
          <a class="dropdown-item" href="/import-contact">Contact</a>
          <a class="dropdown-item" href="/import-event">Event</a>
          <a class="dropdown-item" href="/import-agent">Agent</a>
    </div>
  </li>
  <li class="c-header-nav-item dropdown">
    <a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" ariahaspopup="true" aria-expanded="false">
      <button type="button" class="btn btn-light">USERNAME</button>
    </a>
    <div class="dropdown-menu dropdown-menu-right pt-0">
      <a class="dropdown-item" href="#"> Settings</a>
      <a class="dropdown-item" href="#"> Log Out</a>
    </div>
  </li>
</ul>
