<!-- views/partials/header.ejs -->
<meta charset="UTF-8">
<title>CHANSEY CRM</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel='stylesheet' href='https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css' />
<h2> <%= user %> </h2>
<style>
    body    { padding-top:50px; }
</style>
