<div class="c-sidebar-brand">
<a href="/home">CRM SOFTWARE</a>
</div>

<ul class="c-sidebar-nav ps ps--active-y">
  <li class="c-sidebar-nav-item">
    <a class="c-sidebar-nav-link c-active" href="/search-client">
      <i class="c-sidebar-nav-icon cil-briefcase"></i>
      Clients
    </a>
  </li>
  <li class="c-sidebar-nav-item">
    <a class="c-sidebar-nav-link c-active" href="/search-contact">
      <i class="c-sidebar-nav-icon cil-contact"></i>
      Contacts
    </a>
  </li>
  <li class="c-sidebar-nav-item">
    <a class="c-sidebar-nav-link c-active" href="/search-event">
      <i class="c-sidebar-nav-icon cil-calendar"></i>
      Events
    </a>
  </li>

  <li class="c-sidebar-nav-dropdown">
    <a class="c-sidebar-nav-dropdown-toggle" href="#">
      <i class="c-sidebar-nav-icon cil-description"></i>
      Reports
    </a>
    <ul class="c-sidebar-nav-dropdown-items">
      <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="/report-activity">Activity Report</a>
      </li>
      <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="/report-client-history">Client History</a>
      </li>
      <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="/report-client-list">Client List</a>
      </li>
      <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="/report-contact-history">Contact History</a>
      </li>
      <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="/report-visit-count">Visit Count</a>
      </li>
    </ul>
  </li>

</ul>














<button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-unfoldable"></button>
