<link rel='stylesheet' href='https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css' />
<link rel="stylesheet" href="https://unpkg.com/@coreui/icons/css/coreui-icons.min.css">

<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">

<!-- Return Home-->
      <li class="nav-item mt-auto">
        <a class="nav-link nav-link-success" href="/home">
          <i class="nav-icon cui-home"></i>HOME</a>
      </li>
<!-- Data Entry Links -->
      <li class="nav-title">DATA ENTRY</li>

      <li class="nav-item">
        <a class="nav-link" href="/client-entry">
          <i class="nav-icon cui-briefcase "></i> Client Data Entry
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact-entry">
          <i class="nav-icon cui-user"></i> Contact Data Entry
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/event-entry">
          <i class="nav-icon cui-calendar"></i> Event Data Entry
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/agent-entry">
          <i class="nav-icon cui-laptop"></i> Agent Data Entry
        </a>
      </li>


<!-- Report Links-->
      <li class="nav-title">REPORTS</li>

      <li class="nav-item">
        <a class="nav-link" href="/home">
          <i class="nav-icon cui-map"></i> Activity Report
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home">
          <i class="nav-icon cui-note"></i> Event Report
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="nav-icon cui-calculator"></i> Visit Count Report
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="nav-icon cui-calendar"></i> History Report
        </a>
      </li>

      <li class="nav-item mt-auto">
        <a class="nav-link nav-link-info" href="#">
          <i class="nav-icon cui-cloud-download"></i>PLACEHOLDER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-danger" href="#">
          <i class="nav-icon cui-account-logout "></i>
          LOG OUT
        </a>
      </li>
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
