<!DOCTYPE html>
<html>
  <head>
	<link rel='stylesheet' href='https://unpkg.com/@coreui/coreui@2.1.16/dist/css/coreui.min.css' />
    <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@1.0.0/css/all.min.css">
  </head>
  <body>
    <h1>Access Denied</h1>
  </body>
</html>
