<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcom to the Data Entry Page</h1>
    <li><a href="/customer-entry">Customer Data Entry</a></li>
    <li><a href="/contact-entry">Contact Data Entry</a></li>
    <li><a href="/events-entry">Events Data Entry</a></li>
    <li><a href="/employee-entry">Employee Data Entry</a></li>
  </body>
</html>
