<!doctype html>
<html lang="en">
 <head>
 <!-- Required meta tags -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <!-- CoreUI CSS -->
 <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/css/coreui.min.css" crossorigin="anonymous">
 <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@1.0.0/css/all.min.css">

 <title>CRM - Event Entry</title>
 </head>
 <body class="c-app">

   <div class="c-sidebar c-sidebar-light c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
     <% include partials/sidebar %>
   </div>

  <div class="c-wrapper">
    <header class="c-header c-header-dark bg-primary c-header-fixed">
      <!-- Header content here -->
      <% include partials/header %>
    </header>
    <div class="c-body">
      <main class="c-main">
        <!-- Main content here -->
        <main class="main mt-2 ml-3">
          <form id="formAddEvent" name="addEvent" method="post" action="/addEvent">
            <div class="card  w-75">
              <h3 class="card-header">Event Information</h3>
              <div class="card-body">
          <div class="form-row">
              <div class="form-group col">
                <label for="eventDate">Date</label>
                <input type="date" class="form-control" id="eventDate" name="eventDate" required>
              </div>
              <div class="form-group col">
                <label for="agentID">Agent</label>
                <select class="form-control" name="agentID">
                <%
                    var list = '<option value="" disabled selected>Select</option>';
                    for (i = 0; i < locals.agents.length; i++) {
                      list += '<option>' + locals.agents[i].agentAbbrev + '</option>';
                    }
                %>
                  <%- list %>
          	  </select>
              </div>
          </div>

          <!-- Event Time In & Out-->
          <div class="form-row">
              <div class="form-group col">
                <label for="eventTimeIn">Time In</label>
                <input type="time" class="form-control" id="eventTimeIn" name="eventTimeIn" required>
              </div>
              <div class="form-group col">
                <label for="eventTimeOut">Time Out</label>
                <input type="time" class="form-control" id="eventTimeOut" name="eventTimeOut" required>
              </div>
          </div>

          <!-- Client Visited-->
          <div class="form-row">
              <div class="form-group col">
                <label for="clientID">Client</label>
                <select class="form-control" name="clientID" onChange="changeAgent(this.value);">
            		<%
                  	var list = '<option value="" disabled selected>Select</option>';
                  	for (i = 0; i < locals.clients.length; i++) {
                  		list += '<option value="' + locals.clients[i].clientName + '">' + locals.clients[i].clientName + '</option>';
                  	}
            		%>
                	<%- list %>
          	  </select>
          </div>
          <span id='variableJSON' hidden>
            <%= JSON.stringify(locals.contacts); %>
          </span>
          <script>
            function changeAgent(value){
              var contacts = JSON.parse($('#variableJSON').text());
              var contactOptions = "";
              contactOptions += "<option>N/A</option>";
              for (j = 0; j < contacts.length; j++) {
                if(contacts[j].contactClientID === value) {
                  contactOptions += "<option>" + contacts[j].contactFirstName + " " + contacts[j].contactLastName + "</option>";
                }
              }
              document.getElementById("contactID1").innerHTML = contactOptions;
              document.getElementById("contactID2").innerHTML = contactOptions;
            }
          </script>

          <div class="form-row">
          <div class="form-group col">
                <label for="eventType">Visit Type</label>
                <select class="form-control" name="eventType">
          		  <option>Collection</option>
          		  <option>Courtesy Visit</option>
          		  <option>Technical Service</option>
          		  <option>Delivery</option>
          	  </select>
              </div>
            </div>
          </div>

          <!-- Contact Visited-->
          <!-- [TODO] I don't know if I should be referring to the contactID when what I actually want to show up is the contactName. Create a button for Contact(s) visited to pull all contacts with Client = ClientID Above -->

          <div class="form-group">
            <label for="inputAddress">Contact(s) Visited</label>
              <div class="form-row">
          		<div class="form-group col">
          			<select class="form-control" name="contactID1" id="contactID1">
                  <option value="" disabled selected  required>Select</option>
                </select>
          		</div>
          		<div class="form-group col">
          			<select class="form-control" name="contactID2" id="contactID2">
                  <option value="" disabled selected>Select</option>
                </select>
          		</div>
          	</div>
          </div>

          <!-- Event Location/Branch-->
          <div class="form-group">
            <label for="eventBranch">Branch Location (If Applicable)</label>
              <div class="form-row">
          			<div class="col">
          			  <input type="text" class="form-control" id="eventBranch" name="eventBranch" placeholder="Location">
          			</div>
          	</div>
          </div>

          <!-- Event Notes-->
          <div class="form-group">
            <label for="inputAddress2">Event Notes</label>
              <div class="form-row">
          		<div class="col">
          			<textarea class="form-control" name="eventRemarks" rows="3" placeholder="Remarks" required></textarea>
          		</div>
          	</div>
          </div>

          <input class="btn btn-primary" type="submit" value="Submit">
          </form>

        </div>
      </div>
        </main>
      </main>
    </div>
    <footer class="c-footer">
      <!-- Footer content here -->
      <h1>Footer Content</h1>
    </footer>
  </div>

  <!-- Optional JavaScript -->
 <!-- Popper.js first, then CoreUI JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9&#43;4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb" crossorigin="anonymous"></script>
 <script src="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/js/coreui.min.js"></script>
 </body>
</html>
