<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css">
  </head>
  <body class="app">
    <h1>Welcome to the Events Data Entry Page</h1>

<!--Refer to "https://coreui.io/docs/components/forms/" for instruction on how to change form-->
<main class="main">

<form id="formAddEvent" name="addEvent" method="post" action="/addEvent">> 
 
<!-- Event Date-->
<!-- I don't know if I should be referring to the agentID when what I actually want to show up is the agentAbbrev -->
<div class="form-row">
    <div class="form-group col-md-6-auto">
      <label for="clientName">Date</label>
      <input type="date" class="form-control" id="eventDate" name="eventDate">
    </div>
    <div class="form-group col-md-6-auto">
      <label for="agentID">Agent</label>
      <select class="form-control" name="agentID">
		  <option>JV</option>
		  <option>OFC</option>
		  <option>FB</option>
		  <option>DG</option>
		  <option>LA</option>
		  <option>RPL</option>
		  <option>JP</option>
		  <option>KJ</option>
		  <option>DC</option>
	  </select>
    </div>
</div>

<!-- Event Time In & Out-->
<div class="form-row">
    <div class="form-group col-md-6-auto">
      <label for="eventTimeIn">Time In</label>
      <input type="time" class="form-control" id="eventTimeIn" name="eventTimeIn">
    </div>
    <div class="form-group col-md-6-auto">
      <label for="eventTimeOut">Time Out</label>
      <input type="time" class="form-control" id="eventTimeOut" name="eventTimeOut">
    </div>
</div>

<!-- Client Visited-->
<!-- I don't know if I should be referring to the clientID when what I actually want to show up is the clientName -->
<div class="form-row">
    <div class="form-group col-md-6-auto">
      <label for="clientID">Client</label>
      <select class="form-control" name="clientID">
		  <option>Customer 1</option>
		  <option>Customer 2</option>
		  <option>Customer 3</option>
		  <option>Customer 4</option>
		  <option>Customer 5</option>
	  </select>
    </div>
    <div class="form-group col-md-6-auto">
      <label for="eventType">Visit Type</label>
      <select class="form-control" name="eventType">
		  <option>Collection</option>
		  <option>Courtesy Visit</option>
		  <option>Technical Service</option>
		  <option>Delivery</option>
	  </select>
    </div>	
</div>

<!-- Contact Visited-->
<!-- I don't know if I should be referring to the contactID when what I actually want to show up is the contactName.
Also, the contacts available as choices should be filtered based on which client was chosen in the above section, is that possible/hard to do? -->

<div class="form-group">
  <label for="inputAddress">Contact/s Visited</label>
    <div class="form-row">
		<div class="form-group col-md-6-auto">
			<select class="form-control" name="contactID">
				<option>Contact 1</option>
				<option>Contact 2</option>
				<option>Contact 3</option>
			</select>
		</div>
		<div class="form-group col-md-6-auto">
			<select class="form-control" name="contactID">
				<option>Contact 1</option>
				<option>Contact 2</option>
				<option>Contact 3</option>
			</select>
		</div>
	</div>
</div>

<!-- Event Location/Branch-->
<div class="form-group">
  <label for="eventBranch">Event Location (If Applicable)</label>
    <div class="form-row">
			<div class="col-auto">
			  <input type="text" class="form-control" id="eventBranch" name="eventBranch" placeholder="Location">
			</div>
	</div>
</div>

<!-- Event Notes-->
<div class="form-group">
  <label for="inputAddress2">Event Notes</label>
    <div class="form-row">
		<div class="col-md-4">
			<textarea class="form-control" name="eventRemarks" rows="3" placeholder="Remarks"></textarea>
		</div>
	</div>
</div>

<input class="btn btn-primary" type="submit" value="Submit">
</form>

</main>



  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>
</body>
</html>
