<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to the New CRM</h1>
    <h3><a href="/data-entry">Data Entry</a></h3>
    <h3><a href="/reports">Reports</a></h3>
  </body>
</html>