<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcom to the Reports Page</h1>
    <li><a href="/customer-report">Customer Reports</a></li>
    <li><a href="/contact-report">Contact Reports</a></li>
    <li><a href="/event-report">Events Reports</a></li>
    <li><a href="/employee-report">Employee Reports</a></li>
  </body>
</html>
