<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcom to the Reports Page</h1>
    <li><a href="/client-report">Client Reports</a></li>
    <li><a href="/contact-report">Contact Reports</a></li>
    <li><a href="/event-report">Events Reports</a></li>
    <li><a href="/agent-report">Agent Reports</a></li>
  </body>
</html>
