<!doctype html>
<html lang="en">
 <head>
 <!-- Required meta tags -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <!-- CoreUI CSS -->
 <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/css/coreui.min.css" crossorigin="anonymous">
 <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@1.0.0/css/all.min.css">

 <title>CRM - Activity Report</title>
 </head>
 <body class="c-app">

   <div class="c-sidebar c-sidebar-light c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
     <% include partials/sidebar %>
   </div>

  <div class="c-wrapper">
    <header class="c-header c-header-dark bg-primary c-header-fixed">
      <!-- Header content here -->
      <% include partials/header %>
    </header>
    <div class="c-body">
      <main class="c-main">
        <!-- Main content here -->
        <main class="main mt-0 mx-3">
              <h2>Activity Report</h2>
              <hr>


  <h4><small class="text">Agent: <u><%- agent %></u></small></h4>
  <h4><small class="text">Date Range: <u><%- dateRange %></u></small></h4>

    <!-- Extracted data in Table Form -->

  <div class="table-responsive">
    <table class="table table-bordered px-2 py-2 bg-white">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="align-middle"></th>
          <th scope="col" class="align-middle">DATE</th>
          <th scope="col" class="align-middle">CLIENT</th>
          <th scope="col" class="align-middle">CONTACT 1</th>
          <th scope="col" class="align-middle">CONTACT 2</th>
          <th scope="col" class="align-middle">VISIT TYPE</th>
          <th scope="col" class="align-middle">TIME IN</th>
          <th scope="col" class="align-middle">TIME OUT</th>
          <th scope="col" class="align-middle">DURATION</th>
          <th scope="col" class="align-middle">REMARKS</th>
        </tr>
      </thead>
      <tbody>
          <%
            var list = '';
            var k = 1;
            for (i = 0; i < result.length; i++) {
              list += '<tr>';
              list += '<th scope="row">' + k + '</th>';
              var str = result[i].eventTimeIn._d.toString();
              var str2 = result[i].eventTimeOut._d.toString();
              var eventDate = str.substr(0, 15);
              list += '<td>' + eventDate + '</td>';
              list += '<td>' + result[i].clientName + '</td>';
              list += '<td>' + result[i].contact1 + '</td>';
              list += '<td>' + result[i].contact2 + '</td>';
              list += '<td>' + result[i].eventType + '</td>';
              var timeInString = result[i].eventTimeIn._d.toString();
              console.log(timeInString);
              var eventTimeIn = str.substr(16, 8);
              list += '<td>' + eventTimeIn + '</td>';
              var timeOutString = result[i].eventTimeOut._d.toString();
              var eventTimeOut = str2.substr(16, 8);
              list += '<td>' + eventTimeOut + '</td>';
              var hours = Math.floor(result[i].eventDuration / 60);
              var minutes = result[i].eventDuration % 60;
              list += '<td>' + hours + ' hours ' + minutes + ' minutes' + '</td>';
              list += '<td>' + result[i].eventRemarks + '</td>';
              list += '</tr>';
              k++;
          }
          %>
          <%- list %>
      </tbody>
    </table>
  </div>

          <script>
            function goBack() {
              window.history.back();
            }
          </script>
      </main>
    </div>
    <footer class="c-footer">
      <!-- Footer content here -->
      <% include partials/footer %>
    </footer>
  </div>

  <!-- Optional JavaScript -->
 <!-- Popper.js first, then CoreUI JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9&#43;4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb" crossorigin="anonymous"></script>
 <script src="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/js/coreui.min.js"></script>
 </body>
</html>
